<mat-toolbar class="topbar">
    <a mat-button routerLink="">
        <span class="item">Skyfall</span>
    </a>

    <span class="spacer"></span>

    <a mat-button routerLink="/home" routerLinkActive="active-button">
        <span class="item">Home</span>
    </a>
    <a mat-button routerLink="/characters" routerLinkActive="active-button">
        <span class="item">Characters</span>
    </a>
    <a mat-button routerLink="/login" routerLinkActive="active-button">
        <span class="item">Login</span>
    </a>

    <mat-icon class="item" aria-hidden="false" aria-label="Login icon">login</mat-icon>
    
</mat-toolbar>
